#container {
    position:relative;
    top:10px;
    width:1024px;
    margin:0 auto;
    background-attachment:scroll;

}

#sidemenu {
    margin-top:0.5px;
    margin-left:8.77%;
    float:left;
    width:17%;
    height: 100%;
    min-height: 100px;
}

#middle {
    display: block;
}

#content {
    margin-top:1.5%;
    margin-left:23%;
    width: 64%;
    min-height:500px;
    padding-left:5px;
    padding-right:5px ;
    display: block;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #5571ff;
    -webkit-border-radius: 8px;
    -moz-border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
    -moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
}

#header{
    margin: 0 auto;
    min-height: 80px;
    top:10px;
    position:relative;
    display: block;
    background: #343435;
    background: -moz-linear-gradient(top, #343435 1%, #4a4a4a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#343435), color-stop(100%,#4a4a4a));
    background: -webkit-linear-gradient(top, #343435 1%,#4a4a4a 100%);
    background: -o-linear-gradient(top, #343435 1%,#4a4a4a 100%);
    background: -ms-linear-gradient(top, #343435 1%,#4a4a4a 100%);
    background: linear-gradient(top, #343435 1%,#4a4a4a 100%);
    -webkit-border-radius: 8px;
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
    -moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);

    clear: both;
}
#header-left {
    float:left;
    margin-left: 10px;
    margin-top:10px;
    display: block;
}
#header-left-right {
    float: right;
    font-size:20px;
    color:white;
    display: block;
    clear: left;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: right;
}

#logo {
    margin-left:10px;
    float:left;
    position:relative;
    font-size:40px;
    color:white;
    display: block;

}
#search_form {
    position:relative;
    display:inline;
    margin-top:0px;
    margin-left:10px;
    width:100px;
}

#search_form #id_q{
    width:400px;
}

#user_block {
    position:absolute;
    right:30px;
    top:15px;
    display:inline;
    color:white;
}



.menu1 {
    margin-top:5px;
    margin-right:10px;
    position:relative;
    left:5px;
    border-style:ridge;
    border-width:medium;
    border-color:#9CA9B5;
}

.menu2 {
    position:relative;
    left:20px;
}
a.menubox:link,a.menubox:visited
{
    margin: 2px;
    display:block;
    font-weight:bold;
    color:#000068;
    background-color: #ffffff;
    text-align:center;
    padding:4px;
    text-decoration:none;
    border-style:groove;
    border-color: #000068;
}
a.menubox:hover,a.menubox:active
{
    color: #FFFFFF;
    background-color: #000068;
}

#packing
{
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    width:100%;
    border-collapse:collapse;
}
#packing td, #packing th
{
    font-size:1em;
    border:1px solid #ffffff;
    padding:3px 7px 2px 7px;
}
#packing th
{
    font-size:1.1em;
    text-align:left;
    padding-top:5px;
    padding-bottom:4px;
    background-color:#3f3f3f;;
    color:#ffffff;
}
#packing tr.alt td
{
    color:#000000;
    background-color:#EAF2D3;
}

.clearfix::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ".";
    clear: both;
    height: 0;
}

body{
    font-family: "Trebuchet MS";
    background-image: url('/media/images/bg2.jpg');
    background-repeat:repeat;
    background-attachment:fixed;
}

#logo-image{
    margin-left: 10px;
}