#container {
    position:relative;
    top:10px;
    width:1024px;
    margin:0 auto;
    background-color:lightblue;
    background-attachment:scroll;
    background-image:url(http://i727.photobucket.com/albums/ww272/okooi_09/version/047aat8.gif);
    background-position:top;
    background-repeat:repeat;
}

#sidemenu {
    position:absolute;
    margin-top:45px;
    margin-left:10px;
    height:100px;
    width:155px;
    background-color:lightgray;
}

#content {
    position:relative;
    margin-left:200px;
    margin-top:45px;
    height:500px;
    width:600px;
    padding-left:10px;
    padding-top:10px;
    background-color:lightgray;
}

#header{
    margin-top:10px;
    left:15px;
    top:10px;
    position:relative;
}

#logo {
    position:relative;
    font-size:30px;
    color:darkblue;
// img src="../images/lotus.jpg"
}
#search_form {
    position:relative;
    display:inline;
    margin-top:0px;
    margin-left:10px;
    width:100px;
}

#search_form #id_q{
    width:400px;
}
#user_block {
    position:absolute;
    right:30px;
    top:10px;
    display:inline;
}



.menu1 {
    margin-top:5px;
    margin-right:10px;
    position:relative;
    left:5px;
    border-style:ridge;
    border-width:medium;
    border-color:#9CA9B5;
}

.menu2 {
    position:relative;
    left:20px;
}