#container {
    position:relative;
    top:10px;
    width:1024px;
    margin:0 auto;
    background-attachment:scroll;

}

#sidemenu {
    margin-top:0px;
    margin-left:0px;
    float:left;
    width:17%;
    height: 100%;
    min-height: 100px;
    position: relative;
}

#middle {
    display: block;
    position: relative;
    height: auto;
    margin-top: 10px;
}

#content {
    float:right;
    margin-left:0px;
    position: relative;
    width: 81%;
    min-height:500px;
    padding-left:5px;
    padding-right:5px ;
    display: block;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #3f3f3f;
    -webkit-border-radius: 8px;
    -moz-border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
    -moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
}

#header{
    margin: 0 auto;
    min-height: 80px;
    position:relative;
    display: block;
    background: -moz-linear-gradient(top, rgba(20,60,106,1) 0%, rgba(20,60,106,0.97) 26%, rgba(11,71,123,0.93) 58%, rgba(26,95,152,0.87) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(20,60,106,1)), color-stop(26%,rgba(20,60,106,0.97)), color-stop(58%,rgba(11,71,123,0.93)), color-stop(100%,rgba(26,95,152,0.87))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(20,60,106,1) 0%,rgba(20,60,106,0.97) 26%,rgba(11,71,123,0.93) 58%,rgba(26,95,152,0.87) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(20,60,106,1) 0%,rgba(20,60,106,0.97) 26%,rgba(11,71,123,0.93) 58%,rgba(26,95,152,0.87) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(20,60,106,1) 0%,rgba(20,60,106,0.97) 26%,rgba(11,71,123,0.93) 58%,rgba(26,95,152,0.87) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(20,60,106,1) 0%,rgba(20,60,106,0.97) 26%,rgba(11,71,123,0.93) 58%,rgba(26,95,152,0.87) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#143c6a', endColorstr='#de1a5f98',GradientType=0 ); /* IE6-9 */

    -webkit-border-radius: 8px;
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 2px 0px 0px rgba(0,0,0, .1);
    -moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 2px 0px 0px rgba(0,0,0, .1);
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 2px 0px 0px rgba(0,0,0, .1);

    clear: both;
}
#header-left {
    float:left;
    margin-left: 5px;
    display: block;
}
#header-left-right {
    float: right;
    font-size:20px;
    color:white;
    display: block;
    clear: left;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: right;
}

#logo {
    margin-left:10px;
    float:left;
    position:relative;
    font-size:40px;
    color:white;
    display: block;

}
#search_form {
    position:relative;
    top:20px;

}

#search_form #id_q{
    width:270px;
}

#user_block {
    position:absolute;
    display:block;
    color:white;
    top: 5px;
    right: 5px;
    float:right;
    text-align:right;
}

.menu1 {
    margin-top:5px;
    margin-right:10px;
    position:relative;
    left:5px;
    border-style:ridge;
    border-width:medium;
    border-color:#9CA9B5;
}

.menu2 {
    position:relative;
    left:20px;
}


.product_block{
    position:relative;
    width:20%;
    margin:10px;
    float:left;
    font-size: small;
}

.endfloat {
    clear: both;
    display:block;
}

.big_img {
    width:250px;
    float:right;
    margin-right:20px;
}

.description_header {
    font-size: large;
    font-style: oblique;
}

#product_name_title {
    font-size: 25px;
}

#add_to_cart_zone {
    clear: both;
    float:right;
    margin-right:25px;
}
.show_table td{
    text-align:center;
    min-width:90px;
}

.show_table {
    margin-left:5%;
    margin-bottom:20px;
}

.table_header{
    background-color:black;
    color:white;
    background-color:#3f3f3f;
}

.float_left{
    float:right;
    margin-right:20px;
}


.biggest_header {
    font-size:30px;
}

.big_header {
    font-size:20px;
    float:right;
    margin-right:20px;
    margin-top:10px;
}


#oldcard,#oldaddress{
    background-color:white;
    text-align:center;
    vertical-align:middle;
    margin-left: 200px;
    margin-top:-20px;
    height:30px;
    width:170px;
    border:0px;
    padding-top:5px;
    padding-bottom:0px;
    padding-left:0px;
}

#id_card_number{
    width:230px;
}

#payment_form{
    margin-left:30px;
}

#id_ccv {
    width:40px;
}
#ccv_input {
    display:block;
    margin-left:100px;
    margin-top:20px;
}

#payment_warn_text,#adress_form{
    margin-left:40px;
}

#payment_submit {
    margin-left:120px;
}

.show_table_oreder_detail td{
    min-width: 90px;
    text-align: center;
}

.show_table_oreder_detail {
    margin-left:2%;
    margin-top:1%;
    margin-bottom:20px;
}

a.menubox:link,a.menubox:visited
{
    margin: 2px;
    display:block;
    font-weight:bold;
    color:#000068;
    background-color: #ffffff;
    text-align:center;
    padding:4px;
    text-decoration:none;
    border-style:groove;
    border-color: #000068;
}
a.menubox:hover,a.menubox:active
{
    color: #FFFFFF;
    background-color: #000068;
}

#packing
{
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    width:100%;
    border-collapse:collapse;
}
#packing td, #packing th
{
    font-size:1em;
    border:1px solid #ffffff;
    padding:3px 7px 2px 7px;
}
#packing th
{
    font-size:1.1em;
    text-align:left;
    padding-top:5px;
    padding-bottom:4px;
    background-color: #9797ff;
    color:#ffffff;
}
#packing tr.alt td
{
    color:#000000;
    background-color:#EAF2D3;
}

.clearfix::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ".";
    clear: both;
    height: 0;
}

body{
    font-family: "Trebuchet MS";
    background-image: url('/media/images/bg2.jpg');
    background-repeat:repeat;
    background-attachment:fixed;
}

#logo-image{
    width: 9%;
    float:left;
    position: relative;
    margin-top:5px;
    margin-left:5px;
}

.messages{
    position: relative;
    border: solid 2px #070;
    font-size: 20px;
    background-color: #FFF;
    margin-top: 15px;
    padding-top:10px;
    padding-bottom:5px;
    text-align: center;
}

#front_message{
    z-index: 100;
}

.reflected {
    -webkit-box-reflect: below -13px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255,255,255,0.2)));
}

.sexy-button {
    margin: 5px;
    -moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
    -webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
    box-shadow:inset 0px 1px 0px 0px #97c4fe;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2d4d9c), color-stop(1, #5a8cbd) );
    background:-moz-linear-gradient( center top, #2d4d9c 5%, #5a8cbd 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2d4d9c', endColorstr='#5a8cbd');
    background-color:#2d4d9c;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:1px solid #3866a3;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:12px;
    font-weight:bold;
    padding:4px 19px;
    text-decoration:none;
    text-shadow:1px 1px 0px #1570cd;
}.sexy-button:hover {
     background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6) );
     background:-moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% );
     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
     background-color:#1e62d0;
 }.sexy-button:active {
      position:relative;
      top:1px;
  }

a.user_block:visited{
    color:#ffffff;
}

#login-block {
    text-align: center;
    margin: 0 auto;
    margin-top: 10%;
    position: relative;
    width: 300px;
    min-height:200px;
    padding-left:5px;
    padding-right:5px ;
    display: block;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #3f3f3f;
    -webkit-border-radius: 8px;
    -moz-border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
    -moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
}

.footnote {
    text-align: center;
    color: gray;

}

.regisform th {
    text-align: left;
}