#container {
    position:relative;
    top:10px;
    width:800px;
    min-height:600px;
    margin:0 auto;
    background-color:lightblue;
}

#sidemenu {
    position:absolute;
    margin-top:40px;
    margin-left:20px;
    height: 200px;
    width:130px;
    background-color:lightgray;
}

#content {
    position:relative;
    margin-left:200px;
    margin-top:40px;
    width:550px;
    min-height:300px;
    padding-left:10px;
    padding-top:10px;
    background-color:lightgray;
}

#header{
    margin-top:10px;
    left:15px;
    top:10px;
    position:relative;
}

#logo {
    position:relative;
    font-size: 30px;
    color:darkblue;
}
#search_form {
    position:relative;
    display:inline;
    margin-top:0px;
    margin-left:10px;
    width:100px;
}

#search_form #id_q{
    width:400px;
}
#user_block {
    position:absolute;
    right:30px;
    top:10px;
    display:inline;
}

.menu1 {
    margin-top:2px;
    position:relative;
    left:10px;
}

.menu2 {
    position:relative;
    left:20px;
}

.product_block{
    position:relative;
    width:20%;
    margin:10px;
    float:left;
    font-size: small;
}

.endfloat {
    clear: both;
    display:block;
}

.big_img {
    width:250px;
    float:right;
    margin-right:20px;
}

.description_header {
    font-size: large;
    font-style: oblique;
}

#product_name_title {
    font-size: 25px;
}

#add_to_cart_zone {
    clear: both;
    float:right;
    margin-right:25px;
}