{% extends 'backoffice_base.html' %}
{% block title %}Add new product{% endblock %}
{% block content %}
    {% if success_msg %}
        {{ success_msg }}
    {% elif form_error_msg %}
        {{ form_error_msg }}
    {% endif %}
    <form action="/product/new" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <p>add new product</p>
        <p>product name: {{ form.name }}</p>
        <p>price: {{ form.price }} $</p>
        <p>point: {{ form.point }} pt.</p>
        <p>category: {{ form.category }}</p>
        <p>description:</p>
        <p>{{ form.description }}</p>
        <p>supplier: {{ form.supplier }}</p>

        {% if file_type_error_msg %}
            {{ file_type_error_msg }}
        {% endif %}
        <p>image: {{ form.image }}</p>
        <p>amount: {{ form.amount }}</p>
        <p>order supply status: {{ form.orderSupStatus }}</p>
        <input type="submit" value="submit"  class="sexy-button"/>
    </form>
{% endblock %}