{% extends 'backoffice_base.html' %}
{% block title %}Add category{% endblock %}

{% block userblock %}
</div>
<span id='user_block'>
                {% if not user.is_authenticated %}
                <a href='/login'>Login</a>
                {% else %}
                 <div id='empDetails'>
                     Welcome!<br>
                     Mr.{{ fullname }}<br>
                     {% if manager and clerk %}
                     {{ manager }}, {{ clerk }}<br>
                     {% else %}
                     {% if manager %} {{ manager }}<br>{% endif %}
                     {% if clerk %}{{ clerk }}<br>{% endif %}
                     {% endif %}
                 </div>
                <a href='/logout'>Logout</a>
                {% endif %}
        </span>
</div>
{% endblock %}

{% block content %}
    {% if success_msg %}
        {{ success_msg }}
    {% elif form_error_msg %}
        {{ form_error_msg }}
    {% endif %}
    <form action="/category/new" method="POST">
        {% csrf_token %}
        <p>add new category</p>
        <p>name: {{ form.name }}</p>
        <p>description:</p>
        <p>{{ form.description }}</p>
        <input type="submit" value="Submit" />
    </form>
{% endblock %}