<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Base Template{% endblock %}</title>
    <link rel='stylesheet' href="/media/css/backoffice_main.css" type="text/css">
    <link rel='stylesheet' href="/media/css/menu.css" type="text/css">
</head>
<body>
<div id="container">
    <div id="header" class="clearfix">
    <div id="header-left">
        <div id="logo" class="clearfix reflected">E-Commerce Store</div>
        <p id="header-left-right">Back Office</p>
    </div>
    <div id="logo-image">
        <img src="/media/images/logo.png" height="80"/>
    </div>
        <span id='user_block'>
            {% block userblock %}
                {% if not user.is_authenticated %}
                    <a href='/login' class="user_block">Login</a>
                {% else %}
                    <div id='empDetails'>
                        Welcome!<br>
                        Mr.{{ fullname }}<br>
                        {% if manager and clerk %}
                            {{ manager }}, {{ clerk }}<br>
                        {% else %}
                            {% if manager %} {{ manager }}<br>{% endif %}
                            {% if clerk %}{{ clerk }}<br>{% endif %}
                        {% endif %}
                    </div>
                    <a href='/logout' class="user_block">Logout</a>
                {% endif %}
            {% endblock %}
        </span>
    </div>
    <div class="clearfix"></div>
    <div id="middle" class="clearfix">
    <div id='sidemenu'>
        {% block sidemenu %}
            <div id="wrapper">
                <ul class="ac-menu">
                    {% if manager%}
                    <li id="one">
                        <a href="/backoffice/managestock">Stock Management</a>
                    </li>
                    <li id="two">
                        <a href="/backoffice/managecatalog">Catalog Management</a>
                    </li>
                    {% endif %}
                    {% if clerk %}
                    <li id="three">
                        <a href="/backoffice/packing">Packing Management</a>
                    </li>
                    {% endif %}
                </ul>
            </div><!--end accordian-->

        {% endblock %}
    </div>
    <div id="content">
        {% block content %}

        {% endblock %}
    </div>
</div>
<div class="clearfix"></div>
</div>
</body>
</html>