<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Base Template{% endblock %}</title>
    <link rel='stylesheet' href="/media/css/main.css" type="text/css">
    <link rel='stylesheet' href="/media/css/menu.css" type="text/css">
    <link rel='stylesheet' href="/media/css/style.css" type="text/css">
</head>
<body>
<div id="container">
    <div id="header" class="clearfix">
        <div id="header-left">
            <div id="logo" class="clearfix reflected">E-Commerce Store</div>
        </div>
        <div id="logo-image">
            <a href="/"><img src="/media/images/logo.png" height="80"/></a>

        </div>
        {% block search_bar %}
            <form id="search_form" action='/search' method="get">
                <input id="id_q" type="text" name="q" maxlength="50">
                {#{{ search_form.category }}#}
                <input type="submit" value='go' />
            </form>
        {% endblock %}


        <span id='user_block'>
            {% block userblock %}
                {% if not user.is_authenticated %}
                    <a href='/login' class="sexy-button">Login</a> | <a href='/register' class="sexy-button">Register</a>
                {% else %}
                    Welcome, <a href="/profile/" class="user_block">{{ user.username }}</a><br>
                    <a href="/cart"><img src="/media/img/cart.jpg" height="15px" /></a>
                    {{ user.get_profile.point }} pts.  <a href='/logout' class="sexy-button">Logout</a>
                {% endif %}
            {% endblock %}
        </span>

    </div>

    <section>
    {% if messages %}
            {% for message in messages %}
                <div id="front_message"  class="tn-box tn-box-active tn-box-hoverpause{% if message.tags %} {{ message.tags }}{% endif %}">
                    <p>{{ message }}</p>
{#                    <div class="tn-progress"></div>#}
                </div>
            {% endfor %}
{#    {% else %}#}
{#        <div class="tn-box tn-box-active error">#}
{#            <p>This is test noti.</p>#}
{#        </div>#}
{#        <div class="tn-box tn-box-active info">#}
{#            <p>This is test noti.</p>#}
{#        </div>#}
    {% endif %}
    </section>
    <div class="clearfix"></div>

    <div id="middle" class="clearfix">
    <div id='sidemenu'>
    {% block sidemenu %}
        <div id="wrapper">
            <ul class="ac-menu">
                <li id="one">
                    <a href="/">Home</a>
                </li>
                {% if user.is_authenticated %}
                <li id="two">
                    <a href="/cart">Cart</a>
                </li>
                <li id="three">
                    <a href="/history">Order</a>
                </li>
                {% endif %}
                <li id="four">
                    <a href="#four">Shop</a>
                    <ul class="sub-menu">
                        {% for category in category_list %}
                        <li><a href="/category/{{ category.id }}">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div><!--end accordian-->
        <!--end wrapper-->
    {% endblock %}
    </div>
    <div id="content">
    {% block content %}

    {% endblock %}
    </div>
    </div>
    <div class="clearfix"></div>
</div>
</body>
</html>