<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Base Template{% endblock %}</title>
    <link rel='stylesheet' href="/media/css/main.css" type="text/css">
</head>
<body>
<div id="container">
    <div id="header">
        <span id="logo">
            <a href="/">E-Commerce</a>
        </span>
        <form id="search_form" action='/search' method="get">
            <input id="id_q" type="text" name="q" maxlength="50">
            {#{{ search_form.category }}#}
            <input type="submit" value='go' />
        </form>
        <span id='user_block'>
            {% block userblock %}
                {% if not user.is_authenticated %}
                    <a href='/login'>Login</a> | <a href='/register'>Register</a>
                {% else %}
                    Welcome, {{ user.username }}<br>
                    {{ user.get_profile.point }} pts.
                    <a href="/cart"><img src="/media/img/cart.jpg" height="15px" /></a> | <a href='/logout'>Logout</a>
                {% endif %}
            {% endblock %}
        </span>
    </div>

    <div id='sidemenu'>
    {% block sidemenu %}
            <div class='menu1'><a href="/" class="menubox">Home</a></div>
        {% if user.is_authenticated %}
            <div class='menu1'><a href="/cart" class="menubox">Cart</a></div>
            <div class='menu1'><a href='/history' class="menubox">Order</a></div>
        {% endif %}
            <div class='menu1'>Shop</div>
                {% for category in category_list %}
                    <div class='menu2'><a href="/category/{{ category.id }}">{{ category.name }}</a></div>
                {% endfor %}
    {% endblock %}
    </div>
    <div id="content">

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tag %}> class="{{ message.tag}}"{% endif %}> {{message}} </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% block content %}

    {% endblock %}
    </div>
</div>
</body>
</html>