<!DOCTYPE html>
<html>
<head>
    <title>Checkout: Select Payment</title>
</head>
<body>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<h1>Select Payment</h1>

<form action='/checkout/payment' method="post">
    {% csrf_token %}
    <input type="radio" name="creditcart" value="old">Use existing: {% if oldcard %}<span id="oldcard">{{ oldcard }}</span> {% else %} no existing card {% endif %}</input>
    <br>
    <input type="radio" name="creditcart" value="new">Create New: </input>

    {{ form.as_p }}
<input type="submit" value='back' formaction="/cart" formmethod="get">
<input type="submit" value='next'>
</form>
</body>
</html>