{% extends 'base.html' %}
{% block title %}Checkout: Select Payment{% endblock %}

{% block content %}
<span class="biggest_header">Select Payment</span>
<span class="big_header">Total: $ {{ total_price }} / {{ total_point }} pts. </span>
<form id='payment_form' action='/checkout/payment' method="post">
    {% csrf_token %}

    <table><tr><td><input type="radio" name="select_card"
        {% if not oldcard %}disabled="true"{% endif %}
        value="old"/> Use existing:
        </td><td id='oldcard'>
    {% if oldcard %}
        {{ oldcard }}
    {% else %}
        no existing card
    {% endif %}
    </td></tr>
    </table>
    <input type="radio" id='new_card' name="select_card" value="new"/> Create New:{{ form.card_number }}
    <span id='ccv_input'>
    {{ form.ccv.label }}: {{ form.ccv }}
    </span>
    <p id='payment_warn_text'>{{ total_point }} points will be deducted from your account</p>
    <p id='payment_submit'>
        <input type="submit" value='back' formaction="/cart" formmethod="get">
        <input type="submit" value='next'>
    </p>
</form>
{% endblock %}
