{% extends 'base.html' %}
{% block title %}Checkout: Select Payment{% endblock %}

{% block content %}
<h1>Select Payment</h1>
<h3>Total: $ {{ total_price }} / {{ total_point }} pts.</h3>
<form action='/checkout/payment' method="post">
    {% csrf_token %}
    <input type="radio" name="select_card"
           {% if not oldcard %}disabled="true"{% endif %}
           value="old"/>
    Use existing:
    {% if oldcard %}
        <span id="oldcard">{{ oldcard }}</span>
    {% else %}
        no existing card
    {% endif %}
    <br>
    <input type="radio" name="select_card" value="new"/> Create New:{{ form.card_number }}
    <br>
    <br>
    {{ form.ccv.label }}: {{ form.ccv }}
    <br>
    <br>

    <input type="submit" value='back' formaction="/cart" formmethod="get">
    <input type="submit" value='next'>
</form>
{% endblock %}
