{% extends 'base.html' %}
{% block title %}Order placed{% endblock %}
{% block content %}

<span class="biggest_header">
    We received your order!
    <!--on {{ order.timestamp }}-->
</span>
<br>
<br>
<span>
    Your order ID is {{ order.id }}
</span>
<!--<h2>${{ order.total_price }} was charged from your credit card</h2>-->
<!--<h2>{{ order.total_point }} pts. was deduct from your account</h2>-->
<br>
<span>Thank you for shopping with us!!</span>
<br>
<br>
<a href="/" class="sexy-button">back to main page</a>
{% endblock %}