<!DOCTYPE html>
<html>
<head>
    <title>Checkout: Select Payment</title>
</head>
<body>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<h1>Select Shipping Address</h1>
<h3>Total: $ {{ total_price }} / {{ total_point }} pts.</h3>
<form action='/checkout/shipping' method="post">
    {% csrf_token %}
    <input type="radio" name="select_address"
           {% if not oldaddress.country %}disabled="true"{% endif %}
           value="old"/>
    Ship to:
    {% if oldaddress.country %}
        <span id="oldaddress">{{ oldaddress.firstline }} {{ oldaddress.secondline}}
        {{ oldaddress.town }} {{ oldaddress.country }} {{ oldaddress.zipcode }}</span>
    {% else %}
        no existing address
    {% endif %}
    <br>
    <input type="radio" name="select_address" value="new"/> Add new address:

    {{ form.as_p }}

    <input type="submit" value='back' formaction="/checkout/payment" formmethod="get">
    <input type="submit" value='next'>

</form>

</body>
</html>