<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>edit product: {{ cid }}</title>
</head>
<body>
    {% if form_error_msg %}
        {{ form_error_msg }}
    {% endif %}
    <form enctype="multipart/form-data" action="/product/{{ cid }}/edit" method="POST">
        {% csrf_token %}
        <p>edit product: {{ cid }}</p>
        <p>name: {{ form.name }}</p>
        <p>price: {{ form.price }} $</p>
        <p>point: {{ form.point }} pt.</p>
        <p>category: {{ form.category }}</p>
        <p>description: </p>
        <p>{{ form.description }}</p>
        {% if file_type_error_msg %}
            {{ file_type_error_msg }}
        {% endif %}
        <img src="/media/{{ product.image }}" />
        <p>{{ form.image }}</p>
        <input type="submit" value="submit" />
    </form>
</body>
</html>