{% extends "backoffice_base.html" %}

{% block title %}Catalog Management{% endblock %}

{% block content %}
<h1>Catalog Management</h1>
    <div id="category-m">
        <a href="/category/new" class="button-list-dot">New Category</a>
        {% for category in categories %}
            <div>
            <a href="/backoffice/managecatalog/{{ category.id }}"class="button-list">
                {{ category }}</a><a href="/category/{{ category.id }}/edit" class="sexy-button">Edit</a>
            </div>
        {% endfor %}
    </div>
    <div id="product-m">
        <a href="/product/new" class="button-list-dot">New Product</a>
        {% for product in product_list %}
            <a href="/product/{{ product.id }}/edit" class="menubox">{{ product.name }} / {{ product.category }}</a>
        {% endfor %}
    </div>
    <div id="clearfix"></div>
{% endblock %}