{% extends "backoffice_base.html" %}

{% block title %}Supplier Management{% endblock %}

{% block content %}
<h1>Supplier Management</h1>
    <table id="packing">
    <tr><th>Company Name</th><th>Contact</th></tr>
        {% for supplier in supplier_list %}
            <tr>
            <td>{{ supplier.company_name }} </td>
                <td> {{ supplier.contact }} </td>
           <td> <a href="/supplier/{{ supplier.id }}/edit" class="sexy-button">Edit</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}