{% extends "backoffice_base.html" %}

{% block title %}Employee Packing & Sending Detail{% endblock %}



{% block content %}
<h1>Packing Order</h1>
<div>
<h2>Order-{{ order_id }}</h2> <div align="right">Order date : {{ order_date }}</div>
<table>
    <tr><td align="right">Name</td><td>{{ name }}</td></tr>
    <tr><td align="right">Address</td><td> {{ address.firstline }},{{ address.secondline }},
        {{ address.town }},{{ address.country }},{{ address.zipcode }}</td></tr>
    <tr><td align="right">Tel</td><td>{{ tel }}</td></tr>
    <tr><td align="right">Email</td><td>{{ email }}</td></tr>
</table><br>
    <form action="/backoffice/packing/{{ order_id }}" method="post">
        {% csrf_token %}
<table id="packing">
    <tr align="left"><th>Ordered Products</th><th>Amount</th><th>Status</th></tr>
    {% for ordered_product in ordered_product_list %}
    <tr><td>{{ ordered_product.0 }}.{{ ordered_product.1 }}</td><td>{{ ordered_product.2 }}</td>
        <td>{% if ordered_product.3 %}
            already sent {{ ordered_product.3 }}<br>
        {% else %}
            <input type="radio" name="{{ ordered_product.1 }}" value="send" /> send
            <input type="radio" name="{{ ordered_product.1 }}" value="out" style="margin-left: 10px;"/> wait for more product<br>
        {% endif %}</td></tr>
    {% endfor %}
</table>
       <div align='right' style="padding-right: 10px; margin-top: 10px;"><a href="/backoffice/packing" class="sexy-button">BACK</a>
    <input type="submit" value='COMMIT' class="sexy-button"/></div>

    </form>
</div>
{% endblock %}



