{% extends 'base.html' %}

{% block title %}View cart{% endblock %}

{% block content %}
<span id='navigation'>
    <a href="/profile">{{ username }}</a> > Cart </a>
</span>
<br>
<br>
<span class="biggest_header">
    Cart
</span>
<br>
<table class="show_table">
    <tr class='table_header'><td>Product</td><td>Price</td><td>Point</td><td>Quantity</td><td>Total</td></tr>
    {% for product in product_in_cart %}
        <tr><td>{{ product.0.name }}</td>
            <td>{{ product.0.price }}</td>
            <td>{{ product.0.point }}</td>
            <td>{{ product.1 }}</td>
            <td>${{ product.2 }}/{{ product.3 }}pts</td></tr>
    {% endfor %}
</table>
<div class='float_left'>
Total: ${{ total_price }}/{{ total_point }}pts.
</div>
<br>

<div class="float_left">
    <a href="/checkout">Checkout</a>
</div>

<div class="float_left">
    <a href="/">Add some more</a>
</div>
{% endblock %}
