{% extends 'base.html' %}
{% block title %}Order: {{ order.id }}{% endblock %}
{% block content %}
<span id='navigation'>
    <a href="/profile">{{ username }}</a> > <a href="/history">Order</a> > {{ order.id }}
</span>
<br>
<br>
<span class="biggest_header">
    Order ID: {{ order.id }}
</span>
<span class="big_header">
    Ordered on {{ order.timestamp.date }}
</span>
<br>
    <table border="0"  class="show_table_oreder_detail">
        <tr class='table_header'><td>Product</td><td>Price</td><td>Point</td><td>Quantity</td><td>Total</td><td>status</td></tr>
        {% for product_io in products_list %}
            <tr>
                <td><a href='/product/{{product_io.0.product.id}}'>{{ product_io.0.product.name }}</a></td>
                <td>{{ product_io.0.product.price }}</td>
                <td>{{ product_io.0.product.point }}</td>
                <td>{{ product_io.0.amount }}</td>
                <td>${{ product_io.1 }}/{{ product_io.2 }}pts</td>
                <td>{{ product_io.0.status }}</td>
            </tr>
        {% endfor %}
    </table>
    <br>
<span class="big_header">Total: ${{ total_price }}/{{ total_point }}pts</span>
{% endblock %}