{% extends 'base.html' %}

{% block title %} Category {{ category_detail.name }} View {% endblock %}

{% block content %}
<p>{{ category_detail.name }} : {{ category_detail.description }}</p>
{% if products_list %}
    <ul>
        {% for product in products_list %}
            <p><p><a href="/product/{{ product.id }}/"><img src="/media/{{ product.image }}" height="60" /></a></p><p>{{ product.name }}
            <br>Price : {{ product.price }} Point : {{ product.point }}</p>
        {% endfor %}
    </ul>
{% else %}
    <p>No product are available.</p>
{% endif %}
{% endblock %}
