{% extends 'base.html' %}

{% block title %} Category {{ category_detail.name }} View {% endblock %}

{% block content %}
<div id='show_product' xmlns="http://www.w3.org/1999/html">
<span id='navigation'>
<a href="/">Home</a> > <a href="/category/{{category_detail.id}}">{{ category_detail.name }}</a>
    <!--: {{ category_detail.description }}-->
</span><br>
{% if products_list %}
    {% for product in products_list %}
        <ul class="product_block">
            <a href="/product/{{ product.id }}/"><img src="/media/{{ product.image }}" height="60" /></a><br>
            <span class="product_name">{{ product.name }}</span>
            <br><span class="product_price"> Price : {{ product.price }}
            <br> Point : {{ product.point }}</span>
        </ul>
    {% endfor %}

{% else %}
    <p>No product are available.</p>
{% endif %}

</div>
<span class="endfloat">Page: </span>
{% endblock %}
