{% extends 'base.html' %}
{% block title %}Product: {{ product.name }}{% endblock %}
{% block content %}
    <p>{{ product.name }}</p>
    <img src="/media/{{ product.image }}" />
    <p>description: {{ product.description }}</p>
    <p>price: {{ product.price }} $  point: {{ product.point }} pt.</p>
    <form action="/product/{{ product.id }}/add_to_cart" method="post">
        {% csrf_token %}
        Amount:
        <input type=int name="amount" value=1 size=3/>
        <input type="submit" value="ADD TO CART!" />
    </form>
{% endblock %}