{% extends 'base.html' %}

{% block title %}View cart{% endblock %}

{% block content %}
<table border="1">
    <tr><td>Product</td><td>Price</td><td>Point</td><td>Quantity</td><td>Total</td></tr>
    {% for product in product_in_cart %}
        <tr><td>{{ product.0.name }}</td>
            <td>{{ product.0.price }}</td>
            <td>{{ product.0.point }}</td>
            <td>{{ product.1 }}</td>
            <td>${{ product.2 }}/{{ product.3 }}pts</td></tr>
    {% endfor %}
</table>
Total: ${{ total_price }}/{{ total_point }}pts
<p>Add some more! <a href="/checkout">Checkout</a></p>
{% endblock %}
